.articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  text-align: center;
  background-color: var(--light);
}



@media only screen and (min-width:1024px) {
  .slider {
    grid-area: 1/2/2/3;
  }

  .articles {
    grid-area: 2/2/3/3;
    overflow-y: scroll;
  }
}