.contact {
  height: 700px;
  padding: 1.5rem;
  background-color: var(--light);
}

.contact__info, .contact__details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contact__info__box, .contact__details__box {
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contact__info__box div:nth-child(2) {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

@media only screen and (min-width: 768px) {
  .contact__info, .contact__details {
    align-items: center;
    text-align: center;
  }
}

@media only screen and (min-width:1024px) {
  .contact__container {
    height: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}